@charset "utf-8";
body {
  font-family:Raleway;
}
.color-gle {
  color:#74cfae;
}
.color-gr {
  color:#f2f2f2;
}
.color-dg {
  color: #4e4e4e;
}
.color-bk {
  color:#333;
}
.color-wh {
  color:#fff;
}
.backcolor-gle {
  background-color:#74cfae;
}
.backcolor-gr {
  background-color:#f2f2f2;
}
.backcolor-dg {
  background-color:#4e4e4e;
}
.backcolor-fff{
  background-color: #fff;
}
.full {
  width: 100%;
}
.flex {
  display: flex;
}
.block{
  display: inline-block;
}
.inner{
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
}
/* ------header------- */
.fa-bolt {
  font-size: 40px;
}
.header-contents {
  font-size: 40px;
  margin-left: 5%;
}
.inner-controll {
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
}
.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact {
  color: #fff;
  background-color: #74cfae;
  padding: 14px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  transition: all .3s;
}
.contact:hover {
  color: #333;
}
.main {
  padding-top: 70px;
}
/* ------div------ */
.tittle-inner {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}
.BT {
  font-size: 90px;
  font-weight: 700;
}
.FBT {
  margin-top:20px;
  font-size: 30px;
  color: #c0c0c0;
}
/* ------section------ */
.section-inner {
  justify-content: center;
  padding-top: 50px;
}
.section-inner-inner {
  width: 82.7%;
  padding-left: 5%;
}
.section-wwcd-inner {
  text-align: center;
  box-sizing: border-box;
  margin-left: 15%;
}
.phone {
  vertical-align:top;
}
.in-tittle  {
  font-size: 24px;
  margin-top: 10px;
}
.in-text {
  margin-top: 35px;
  font-size: 20px;
  word-break: break-all;
  font-family: Lato;
}
/* ------article------ */
.artical-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.olw-tittle-inner {
  font-size: 24px;
  text-align: center;
  font-family: Raleway;
}
.olw-images-inner {
  width: 1100px;
  margin: auto;
  list-style: none;
  margin-top: 40px;
}
.olw-images-inner li {
  float: left;
  margin-left:100px;
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
.picture {
  vertical-align: top;
}
.img {
  opacity: 0.7;
  transition: all .3s;
}
.img:hover {
  opacity: 1.0;
}
.img:nth-child(3n+1) {
  margin-left:0px;
}
.img:nth-child(n+4) {
  margin-top: 80px;
}
.mail-discrive-inner {
  margin-top: 90px;
  display :flex;
  justify-content: center;
  align-items: start;
}
.mail-discrive-text {
  text-align: center;
}
.text {
  width: 530px;
}

.mail-button {
  padding: 14px 20px;
  background-color: #74cfae;
  text-decoration: none;
  transition: all .3s;
  font-size: 12px;
  word-break: break-all;
  margin-left: 90px;
}
.mail-button:hover {
  color:#333
}
/* ------section------ */
.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.our-skills-text-inner {
  text-align: center;
  font-size: 24px;
}
.skill-gage-inner {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 90px;
}
.skill {
  list-style: none;
  margin-left: 180px;
  text-align: center;
}
.skill:first-child {
  margin-left: 0;
}

.skill-name {
  margin-top: 10px;
  font-size: 16px;
  font-family: Lato;
}
/* ------nav------ */
.navi-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.navi-inner-inner {
  list-style: none;
  text-align: center;
  font-size: 30px;
  transition: all .3s;
}
.works-img {
  color:#74cfae
}
.navi-inner-inner:hover {
  background-color: #fff;
}
.works-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 100px;
}
/* ------footer------ */
.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}
.logo {
  padding-right: 10%;
  }

  @media screen and (min-width: 768px) and ( max-width:1199px){
    /* ------section------ */



  }

  @media screen and (max-width: 767px) {

  }